:root {
  font-family: "Courier New", Courier, "Lucida Console", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #05070d;
  color: #e6edf6;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: #05070d;
}

.app {
  width: 100%;
  height: 100%;
}
